<head>
    <link rel="stylesheet" href="/styles/home.css">
    <script defer src="/scripts/modules/home.js"></script>

    <title>Início</title>
</head>

<div class="allPolls">
    <div class="container">
        <div id="notContent" style="display: none;">
            <p>Que pena... Estamos sem enquentes cadastradas. <br> Cadastre a sua agora mesmo</p>
            <a href="/createpoll">Criar enquete</a>
        </div>
    </div>

    
</div>