<head>
    <link rel="stylesheet" href="/styles/login.css">
    <script defer src="/scripts/modules/register.js"></script>

    <title>Registre-se</title>
</head>

<div class="login">
    <div id="container">
        <div class="userArea register">
            <h1 class="title">Cadastre a sua conta</h1>

            <p id="messageError"></p>

            <form name="formuser" action="javascript: Register()" method="post">
                <input type="text" name="name" id="userName" placeholder="Nome" required><br>
                <input type="email" name="email" id="userEmail" placeholder="E-mail" required><br>
                <input type="password" name="password" id="userPassword" placeholder="Senha" required><br>
                <input type="submit" id="buttonLogin" value="Criar seu cadastro">
            </form>

        </div>
    </div>

    
</div>