
<head>
    <link rel="stylesheet" href="/styles/vote.css">
    <script src="/scripts/modules/vote.js"></script>

    <title>Votar</title>
</head>

<div class="allPolls">
    <div id="container" >
        
    </div>

    <div id="userVote" style="display: none;">
        <p class="infoVote"><span id="nameVote"></span></p>
        <a>OK</a>
    </div>

    <div id="errorMessage" style="display: none;">
        <p>Você não está logado!!</p>
        <a href="/login">Login / Registre-se</a> 
    </div>

    <div id="notResponse" style="display: none;">
        <p>Você ainda não cadastrou opções de resposta desta enquete!!</p>
        <a href="" id="registerResponse">Cadastrar agora</a> 
    </div>
</div>
